<a href="https://colab.research.google.com/github/vananthi/python-practice-files/blob/main/For_Loops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [4,6,7,8]
for i in a:
  print(i*2)

8
12
14
16

In [ ]:
print(a)

[4, 6, 7, 8]

In [ ]:
a.keys()

AttributeError: ignored

In [ ]:
type(a)

tuple

In [ ]:
nums = [0,2,4,6,8,10,12,14,16,18,20]  # for,while , else,continue break , if, elif else  = datastructure

In [ ]:
for i in nums: # for.. variablename in(keyword) data holdervariable:
    print (i+5)    # for(i = 0 ; i<=10, i++)

5
7
9
11
13
15
17
19
21
23
25

In [ ]:
s = {4,6,7,9,10}
for j in s:
  print(j+5)

9
11
12
14
15

In [ ]:
t =[1,2,3,4,5,6,7,8,9,10]
for k in t:
  print(k*12) # 1*12 = 12

12
24
36
48
60
72
84
96
108
120

In [2]:
nums=(0,2,4,6,8,10,11)
for n in nums: #usd n
    print (n,end=",")  # / continuation /n

0,2,4,6,8,10,11,

In [ ]:
for num in range(20): # range (5 ) = 0 to 4
    print(num*9)

0
9
18
27
36
45
54
63
72
81
90
99
108
117
126
135
144
153
162
171

In [ ]:
a = range(20)
a

range(0, 20)

In [ ]:
for i in range(10,100,5):# range ( start, end-1, steps) 10 ,15,20,.....95
  print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
for abcd in range(1,100,2):
  print(abcd)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
c = 0
for i in range (1,2500,1): # 1+2+3+4 = 10
  c = i + c
print(c)

3123750

In [7]:
sum = 0
for i in range(1, 10, 1):  # 1,2,3 ... 9  1+2+3+4+5+6+7+8+9 range(start, end(end-1), difference)
    sum = sum + i    #0+1,1+2,3+3,6+4,10+5
    print(sum)  # list,tuple ,dict, set, range, ud var

1
3
6
10
15
21
28
36
45

In [ ]:
aa = 2
for s in range (2,10,2): # 2,4,6,8
  s = s**aa
  print (s)

4
16
36
64

In [ ]:
marks = [60,52,0,92,65]
tot = 0
for i in marks:
  tot = tot + i
print(tot/5)

53.8

In [ ]:
d = {6:'gh',8:'jk'}
for i,j in d.items():
  print(j,i)

gh 6
jk 8

In [ ]:
pract= 35

p = [60,70,80]
for x in p:
  result = pract + x
  print(result)

95
105
115

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    square = i ** 2
    print("Square of:", i, "is:", square)

Square of: 1 is: 1
Square of: 2 is: 4
Square of: 3 is: 9
Square of: 4 is: 16
Square of: 5 is: 25

In [ ]:
n = 5
for i in range(1, 11, 1):
    # 5 *i (current number)
    result = n * i
    print(result)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#while
k = 100
sum = 10
i = 1

while i <= k:  #while (condition)
  sum = sum+i
  i = i+10 #i++
print(sum)

470

In [ ]:
l= 0
while (l < 7):
  l=l+1
  print( "hi welcome")

hi welcome
hi welcome
hi welcome
hi welcome
hi welcome
hi welcome
hi welcome

In [ ]:
v = [6,8,4,9,8]
while v:
  print(v.pop())

8
9
4
8
6

In [ ]:
total = 0
while total < 2:
    total += 1  # equivalent to: `total = total + 1`

print(total)  # `total` has the value 2

2

In [ ]:
n = 5

while n > 0:

    n -= 1

    if n == 2:

        break  #clause continue else:

    print(n)

print('Loop ended.')

4
3
Loop ended.

In [ ]:


for item in [3,1, 2,  4, 5]:
    if item == 3:
         print(item, " ...break!")
         break
print(item, " ...next iteration")

3  ...break!
3  ...next iteration

In [ ]:
for item in [2, 4,3, 6]:
     if item == 3:
         print(item, " ...task completed!")
         break
     print(item, " ...next iteration")

2  ...next iteration
4  ...next iteration
3  ...task completed!

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [ ]:
    i = 1

    while True:
        print(i)
        i = i + 1
        if(i > 5):
            break

1
2
3
4
5